{% extends 'app/default.html'%}

{% block title %}{{ new.title}}{% endblock %}


{% block content %}
{% if article  %}
<div class="features">
    <h2>{{ article.category  }}</h2>
<h1>{{ article.title }}</h1>
<p>{{ article.text|safe }}</p>
  <p>{{ article.author  }}</p>
   <a href="{% url 'updata' article.id %}" class="btn btn-info">Редактировать</a>
    <a href="{% url 'delete' article.id %}" class="btn btn-danger">Удалить</a>

{% endif %}
    <form action="{% url 'comment_create' article.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Прокомментировать">
    </form>
{% if article.comment_set.all %}
    <h4>Все комментарии:</h4>
    {% for comment in article.comment_set.all %}
    <p>{{ comment.author.username|safe }}</p>
    <p>{{ comment.text|safe }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}