{% extends 'app/default.html' %}

{% block title %}Форма по добавлению публикации{% endblock %}

{% block content %}
    <div class="features">
        <h2>Создание публикации</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.category }}<br><br>
            {{form.author}}<br>
            {{ form.title }}<br>
            {{ form.media }}<br>
            {{ form.text }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type ="submit">Добавить публикацию</button>
        </form>
    </div>
{% endblock content %}