{% extends 'app/default.html' %}

{% block title %}Публикации{% endblock %}


{% block content %}
  <div class="features">
        <h1>Публикации</h1>
        <form action="" method="get">
            {% csrf_token %}

            {{ form.media }}
            {{ form.as_p }}

     {% if article %}
            {% for el in article %}
                    <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.text|safe }}</p>
                        <p>{{el.author}}</p>
                        <a href="{% url 'article_id' el.id %}" class="btn btn-warning">Читать дальше</a>
                    </div>
            {% endfor %}
        {% else %}
            <p> Ничего нету !</p>
        {% endif %}

       {% if page_obj.has_previous %}

           {% if page_obj.previous_page_number != 1 %}
               ...

           {% endif %}
       {% endif %}

       {{ page_obj.number }}

       {% if page_obj.has_next %}

           {% if paginator.num_pages != page_obj.next_page_number %}
               ...

           {% endif %}
       {% endif %}
    </div>
{% endblock %}

